<h1><%= @contact.name %> Phone Number saved!</h1>

<p>Your phone number was successfully saved.</p>

<p><a href="/contacts/<%= @phone.contact_id %>">View <%= @contact.name %></a></p>

<p><a href="/contacts">Return to the contact listing</a></p>
